.navbar {
  width: 100vh;
  height: 100px;
  border: 1px border red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;  
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}